/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$facebook-name: 'facebook';
$facebook-x: 0px;
$facebook-y: 0px;
$facebook-offset-x: 0px;
$facebook-offset-y: 0px;
$facebook-width: 35px;
$facebook-height: 36px;
$facebook-total-width: 105px;
$facebook-total-height: 72px;
$facebook-image: '../images/icons.png';
$facebook: (0px, 0px, 0px, 0px, 35px, 36px, 105px, 72px, '../images/icons.png', 'facebook', );
$google-plus-name: 'google-plus';
$google-plus-x: 35px;
$google-plus-y: 0px;
$google-plus-offset-x: -35px;
$google-plus-offset-y: 0px;
$google-plus-width: 35px;
$google-plus-height: 36px;
$google-plus-total-width: 105px;
$google-plus-total-height: 72px;
$google-plus-image: '../images/icons.png';
$google-plus: (35px, 0px, -35px, 0px, 35px, 36px, 105px, 72px, '../images/icons.png', 'google-plus', );
$odno-name: 'odno';
$odno-x: 70px;
$odno-y: 0px;
$odno-offset-x: -70px;
$odno-offset-y: 0px;
$odno-width: 35px;
$odno-height: 36px;
$odno-total-width: 105px;
$odno-total-height: 72px;
$odno-image: '../images/icons.png';
$odno: (70px, 0px, -70px, 0px, 35px, 36px, 105px, 72px, '../images/icons.png', 'odno', );
$twitter-name: 'twitter';
$twitter-x: 0px;
$twitter-y: 36px;
$twitter-offset-x: 0px;
$twitter-offset-y: -36px;
$twitter-width: 35px;
$twitter-height: 36px;
$twitter-total-width: 105px;
$twitter-total-height: 72px;
$twitter-image: '../images/icons.png';
$twitter: (0px, 36px, 0px, -36px, 35px, 36px, 105px, 72px, '../images/icons.png', 'twitter', );
$vkontakte-name: 'vkontakte';
$vkontakte-x: 35px;
$vkontakte-y: 36px;
$vkontakte-offset-x: -35px;
$vkontakte-offset-y: -36px;
$vkontakte-width: 35px;
$vkontakte-height: 36px;
$vkontakte-total-width: 105px;
$vkontakte-total-height: 72px;
$vkontakte-image: '../images/icons.png';
$vkontakte: (35px, 36px, -35px, -36px, 35px, 36px, 105px, 72px, '../images/icons.png', 'vkontakte', );
$youtube-name: 'youtube';
$youtube-x: 70px;
$youtube-y: 36px;
$youtube-offset-x: -70px;
$youtube-offset-y: -36px;
$youtube-width: 35px;
$youtube-height: 36px;
$youtube-total-width: 105px;
$youtube-total-height: 72px;
$youtube-image: '../images/icons.png';
$youtube: (70px, 36px, -70px, -36px, 35px, 36px, 105px, 72px, '../images/icons.png', 'youtube', );
$facebook-2x-name: 'facebook-2x';
$facebook-2x-x: 0px;
$facebook-2x-y: 0px;
$facebook-2x-offset-x: 0px;
$facebook-2x-offset-y: 0px;
$facebook-2x-width: 70px;
$facebook-2x-height: 72px;
$facebook-2x-total-width: 210px;
$facebook-2x-total-height: 144px;
$facebook-2x-image: '../images/icons-2x.png';
$facebook-2x: (0px, 0px, 0px, 0px, 70px, 72px, 210px, 144px, '../images/icons-2x.png', 'facebook-2x', );
$google-plus-2x-name: 'google-plus-2x';
$google-plus-2x-x: 70px;
$google-plus-2x-y: 0px;
$google-plus-2x-offset-x: -70px;
$google-plus-2x-offset-y: 0px;
$google-plus-2x-width: 70px;
$google-plus-2x-height: 72px;
$google-plus-2x-total-width: 210px;
$google-plus-2x-total-height: 144px;
$google-plus-2x-image: '../images/icons-2x.png';
$google-plus-2x: (70px, 0px, -70px, 0px, 70px, 72px, 210px, 144px, '../images/icons-2x.png', 'google-plus-2x', );
$odno-2x-name: 'odno-2x';
$odno-2x-x: 140px;
$odno-2x-y: 0px;
$odno-2x-offset-x: -140px;
$odno-2x-offset-y: 0px;
$odno-2x-width: 70px;
$odno-2x-height: 72px;
$odno-2x-total-width: 210px;
$odno-2x-total-height: 144px;
$odno-2x-image: '../images/icons-2x.png';
$odno-2x: (140px, 0px, -140px, 0px, 70px, 72px, 210px, 144px, '../images/icons-2x.png', 'odno-2x', );
$twitter-2x-name: 'twitter-2x';
$twitter-2x-x: 0px;
$twitter-2x-y: 72px;
$twitter-2x-offset-x: 0px;
$twitter-2x-offset-y: -72px;
$twitter-2x-width: 70px;
$twitter-2x-height: 72px;
$twitter-2x-total-width: 210px;
$twitter-2x-total-height: 144px;
$twitter-2x-image: '../images/icons-2x.png';
$twitter-2x: (0px, 72px, 0px, -72px, 70px, 72px, 210px, 144px, '../images/icons-2x.png', 'twitter-2x', );
$vkontakte-2x-name: 'vkontakte-2x';
$vkontakte-2x-x: 70px;
$vkontakte-2x-y: 72px;
$vkontakte-2x-offset-x: -70px;
$vkontakte-2x-offset-y: -72px;
$vkontakte-2x-width: 70px;
$vkontakte-2x-height: 72px;
$vkontakte-2x-total-width: 210px;
$vkontakte-2x-total-height: 144px;
$vkontakte-2x-image: '../images/icons-2x.png';
$vkontakte-2x: (70px, 72px, -70px, -72px, 70px, 72px, 210px, 144px, '../images/icons-2x.png', 'vkontakte-2x', );
$youtube-2x-name: 'youtube-2x';
$youtube-2x-x: 140px;
$youtube-2x-y: 72px;
$youtube-2x-offset-x: -140px;
$youtube-2x-offset-y: -72px;
$youtube-2x-width: 70px;
$youtube-2x-height: 72px;
$youtube-2x-total-width: 210px;
$youtube-2x-total-height: 144px;
$youtube-2x-image: '../images/icons-2x.png';
$youtube-2x: (140px, 72px, -140px, -72px, 70px, 72px, 210px, 144px, '../images/icons-2x.png', 'youtube-2x', );
$spritesheet-width: 105px;
$spritesheet-height: 72px;
$spritesheet-image: '../images/icons.png';
$spritesheet-sprites: ($facebook, $google-plus, $odno, $twitter, $vkontakte, $youtube, );
$spritesheet: (105px, 72px, '../images/icons.png', $spritesheet-sprites, );
$retina-spritesheet-width: 210px;
$retina-spritesheet-height: 144px;
$retina-spritesheet-image: '../images/icons-2x.png';
$retina-spritesheet-sprites: ($facebook-2x, $google-plus-2x, $odno-2x, $twitter-2x, $vkontakte-2x, $youtube-2x, );
$retina-spritesheet: (210px, 144px, '../images/icons-2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$facebook-group-name: 'facebook';
$facebook-group: ('facebook', $facebook, $facebook-2x, );
$google-plus-group-name: 'google-plus';
$google-plus-group: ('google-plus', $google-plus, $google-plus-2x, );
$odno-group-name: 'odno';
$odno-group: ('odno', $odno, $odno-2x, );
$twitter-group-name: 'twitter';
$twitter-group: ('twitter', $twitter, $twitter-2x, );
$vkontakte-group-name: 'vkontakte';
$vkontakte-group: ('vkontakte', $vkontakte, $vkontakte-2x, );
$youtube-group-name: 'youtube';
$youtube-group: ('youtube', $youtube, $youtube-2x, );
$retina-groups: ($facebook-group, $google-plus-group, $odno-group, $twitter-group, $vkontakte-group, $youtube-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
